extends layout

block content
    div
        h1 文件上传页面
        p 你可以在上传文件
        div
            form(action="/article/uploads" method="POST" enctype="multipart/form-data")
                div.form-group
                    label(for="title") 标题
                    input(id="title" type="text" name="title")
                div.form-group
                    label(for="file") 选择文件
                    input(id="file" type="file" name="file")
                div.form-group
                    label(for="file2") 选择文件
                    input(id="file2" type="file" name="file2")
                div.form-group
                    button(type="submit") Submit
