extends layout

block header
    style.
        .form-container{margin:auto}
        body{width:100%}

block content
    div.form-container
        h1 文章录入页面
        p 你可以在此输入文章内容
        div
            form(role="form" action="/article/save" method="POST")
                div.form-group
                    label(for="title") 标题
                    input(id="title" type="text" name="title")
                div.form-group
                    label(for="author") 作者
                    input(id="author" type="text" name="author")
                div.form-group
                    label(for="tags") 标签
                    input(id="tags" type="text" name="tags")
                div.form-group
                    label(for="content") 内容
                    textarea(id="content" name="content")
                div.form-group
                    button(type="submit") Submit